.buffer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  background: $color-light;
  z-index: 10000;

  img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
  }
}