.content-and-image{
	$break: 'tablet';
	margin-right: 50%;
	position: relative;

	// Imagen
	&::after{
		background: no-repeat center;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
	}

	// Botón
	.btn{
		margin-top: 1em;
	}

	// Tamaño del icono
	figure{
		$size: 7em;
		background: center no-repeat;
		background-size: contain;
		display: inline-block;
		height: $size;
		width: $size;
	}

}