// Logotipo
.logo{
	text-align: right;
	/*vertical-align: top !important;*/

	@include responsive('max-boxes') {
		padding: 7px;
	}

	a {
		background: url(../../images/eroski-logo.png) no-repeat;
		display: block;
		width: 142px;
		height: 45px;
		transition: none;
		background-size: contain;
		background-position: center top;

		@media all and (-ms-high-contrast:none) {
			& {
				background-position-y: -9px;
			} /* IE10 */
			*::-ms-backdrop,
			& {
				background-position-y: -9px;
			} /* IE11 */
		}

		@include responsive('max-boxes') {
			background-position: center top;
			background-size: contain;

			@media all and (-ms-high-contrast:none) {
				& {
					background-position-y: -51px;
					background-position-x: -153px;
					height: 57px;
				} /* IE10 */
				*::-ms-backdrop,
				& {
					background-position-y: -51px;
					background-position-x: -153px;
					height: 57px;
				} /* IE11 */
			}
		}
	}

	figure {
		position: relative;
		img {
			max-width: inherit;
			position: absolute;
			right: 0;
			top: 0;
			width: 150px;
			height: 45px;

			@include responsive('max-midphablet') {
				width: 139px;
				height: 76px;
			}
			@include responsive('max-phone') {
				margin-right: 20px;
			}
			@include responsive('max-midphone') {
				width: 110px;
				height: 60px;
			}
			@include responsive('max-miniphone') {
				width: 99px;
				height: 54px;
			}
			/*// BP | Menú Burguer
			@include responsive('max-#{$break-menu-mobile}') {
				height: 50px;
				width: 160px;
			}

			// BP | Phone
			@include responsive('max-phablet') {
				height: 37px;
				width: 120px;
			}*/
		}
	}
}