// Contenido principal
main{
	/*overflow: auto;*/ // Expandir tamaño de capa incluyendo márgenes de hijos

	// Secciones | Separación entre secciones
	> section{
		$pad: 3rem;
		margin-bottom: $pad;
		margin-top: $pad;

		/*&:first-child {
			margin-top: 0;
		}*/

		&.beige {
			$pad: 1rem;
			background: #e5e0dc;
			padding: $pad;
		}
	}
}