body > footer{
	// Variables
	$gap: 1.1em;
	$gap2: 20px;
	
	// Estilos
	color: $color-light;
	background: $color-main;
	padding-top: $gap;
	padding-bottom: $gap2;
	text-align: center;

	@include responsive('max-boxes') {
		padding: 0;
		margin: 0;
	}

	.container {

		@include responsive('max-phablet') {
			padding: 10px 0;
		}

		.footer__tel {
			font-size: 18px;

			p {
				margin-bottom: 0;
			}
		}
		.footer__horario {
			font-family: $font-medium-eroski;
			font-size: 14px;

			p {
				margin-top: 0;
			}
		}
	}
}