// Cabecera
.header{
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	width: 100%;

	.contenedor {
		.container {

			@include responsive('max-phone') {
				padding-right: 5px;
				padding-left: 5px;
			}

			> * {
				vertical-align: middle;
			}
		}
		&:first-child {
			background: rgba(255, 255, 255, .8);

			// Centrado vertical
			.container {
				@extend %center-v;
				min-height: 60px;
				margin: 0 auto;
				padding: 10px;

				@include responsive('max-phablet') {
					/*padding: 10px 10px;*/
				}
			}
		}
		&:last-child {
			background: $color-light;
			border-top: 1px solid $color-dark-light;

			.container {
				display: block;
				margin-bottom: 4px;

				@include responsive('max-phone') {
					padding-bottom: 20px;
				}

				> * {
					display: inline-block;

					&:first-child {
						width: 20%;

						@include responsive('max-phone') {
							width: 100%;
							text-align: center;
						}
					}
				}
			}
		}


	}
}

// Espacio para cabecera
body{
	padding-top: $size-burguer;
	display: block;
}

// Excepciones de container en cabecera
header .container{
	@include responsive('max-#{$break-menu-mobile}'){
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 2px;
	}
}
