@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background: #fff;
}

@media only all and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}

html {
  font-size: 16px;
  font-size: 1rem;
}

@media only all and (max-width: 1050px) {
  html {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media only all and (max-width: 480px) {
  html {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

body,
button,
input,
select,
textarea {
  font-family: "eroski_demi", Arial, Helvetica, sans-serif;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}

h1 {
  font-size: 3em;
}

@media only all and (max-width: 1280px) {
  h1 {
    font-size: 2.5em;
  }
}

@media only all and (max-width: 480px) {
  h1 {
    font-size: 2.25em;
  }
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main section {
  position: relative;
}

main section:last-child {
  z-index: 10000;
}

#ccoverlay {
  height: auto !important;
}

body header,
body main,
body footer {
  position: relative;
}

body > header {
  z-index: 5;
}

body > main,
body > footer {
  z-index: 1;
}

.container, .wrapper {
  margin-left: auto;
  margin-right: auto;
}

.header .contenedor:first-child .container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
}

.header .contenedor:first-child .container > * {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}

.txt-yellow {
  color: #db1720;
}

.txt-white {
  color: #fff;
}

.txt-highlight {
  font-size: 1.25rem;
}

.mayus {
  text-transform: uppercase;
}

.gradient-yellow {
  background: #fec816;
  background: -moz-linear-gradient(-45deg, #fec816 0%, #ffae00 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #fec816), color-stop(100%, #ffae00));
  background: -webkit-linear-gradient(-45deg, #fec816 0%, #ffae00 100%);
  background: -o-linear-gradient(-45deg, #fec816 0%, #ffae00 100%);
  background: -ms-linear-gradient(-45deg, #fec816 0%, #ffae00 100%);
  background: linear-gradient(135deg, #fec816 0%, #ffae00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec816', endColorstr='#ffae00', GradientType=1 );
}

.gradient-purple {
  background: #8d0952;
  background: -moz-linear-gradient(top, #8d0952 0%, #ec4eaa 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #8d0952), color-stop(100%, #ec4eaa));
  background: -webkit-linear-gradient(top, #8d0952 0%, #ec4eaa 100%);
  background: -o-linear-gradient(top, #8d0952 0%, #ec4eaa 100%);
  background: -ms-linear-gradient(top, #8d0952 0%, #ec4eaa 100%);
  background: linear-gradient(to bottom, #8d0952 0%, #ec4eaa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d0952', endColorstr='#ec4eaa', GradientType=0 );
  color: #fff;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-container .flex-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@font-face {
  font-family: "eroski_bold";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/ITCAvantGardePro-Bold.otf") format("opentype"), url("/fonts/ITCAvantGardePro-Bold.eot?") format("eot"), url("/fonts/ITCAvantGardePro-Bold.svg#eroski_bold") format("svg"), url("/fonts/ITCAvantGardePro-Bold.woff") format("woff"), url("/fonts/ITCAvantGardePro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "eroski_demi";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/ITCAvantGardePro-Demi.otf") format("opentype"), url("/fonts/ITCAvantGardePro-Demi.eot?") format("eot"), url("/fonts/ITCAvantGardePro-Demi.svg#eroski_demi") format("svg"), url("/fonts/ITCAvantGardePro-Demi.woff") format("woff"), url("/fonts/ITCAvantGardePro-Demi.woff2") format("woff2");
}

@font-face {
  font-family: "eroski_book";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/ITCAvantGardePro-Bk.otf") format("opentype"), url("/fonts/ITCAvantGardePro-Bk.eot?") format("eot"), url("/fonts/ITCAvantGardePro-Bk.svg#eroski_book") format("svg"), url("/fonts/ITCAvantGardePro-Bk.woff") format("woff"), url("/fonts/ITCAvantGardePro-Bk.woff2") format("woff2");
}

@font-face {
  font-family: "eroski_medium";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/ITCAvantGardePro-Md.otf") format("opentype"), url("/fonts/ITCAvantGardePro-Md.eot?") format("eot"), url("/fonts/ITCAvantGardePro-Md.svg#eroski_medium") format("svg"), url("/fonts/ITCAvantGardePro-Md.woff") format("woff"), url("/fonts/ITCAvantGardePro-Md.woff2") format("woff2");
}

.btn {
  background-color: #db1720;
  border: 0;
  display: inline-block;
  position: relative;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
  font-family: "eroski_demi", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.btn:hover {
  background-color: #ea3b43;
  color: #000;
}

.btn.arrow, .btn.not-arrow {
  padding: .25em 0;
  min-width: 12em;
  text-transform: uppercase;
}

.btn.arrow::after {
  content: '';
  display: inline-block;
  position: relative;
  margin-left: 17px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 10px solid #fff;
  border-bottom: 7px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn.arrow:hover::after {
  margin-left: 27px;
}

.btn.xl {
  padding: 1em 0.5em;
}

.btn.disabled {
  background-color: #e6e6e6;
  color: #b3b3b3;
  cursor: auto;
}

.btn.grey {
  background-color: #cccccc;
  color: #000;
  /*&.arrow::after{
			border-color: $color-light;
		}*/
}

.btn.grey:hover {
  background-color: #e6e6e6;
}

.btn.black {
  background-color: #000;
  color: #fff;
}

.btn.black:hover {
  background-color: #262626;
}

.btn.black.arrow::after {
  border-color: #fff;
}

.btn.white {
  color: #fff;
}

.btn.white-back {
  background: #fff;
}

.btn.white-back.arrow::after {
  border-left: 10px solid #000;
}

.btn.green {
  background-color: #8bb52b;
  color: #fff;
}

.btn.green:hover {
  background-color: #b9dc6a;
}

.btn.transparent {
  background: none;
}

.btn.disabled {
  background-color: #e6e6e6;
  color: #b3b3b3;
  cursor: default;
}

.btn.disabled:hover {
  background-color: #e6e6e6;
}

.btn.disabled.arrow::after {
  border-color: #b3b3b3;
}

.btn.disabled-black {
  background-color: #000;
  color: #fff;
  cursor: auto;
}

.btn.btn-slider-left {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

@media only all and (max-width: 768px) {
  .btn.btn-slider-left {
    min-width: 10em;
    bottom: 9%;
  }
}

.btn.btn-slider-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

@media only all and (max-width: 768px) {
  .btn.btn-slider-right {
    min-width: 10em;
    bottom: 9%;
  }
}

div.btn.arrow.btn-slider-left::after, div.btn.arrow.btn-slider-right::after {
  top: 1.3em;
}

@media only all and (max-width: 768px) {
  div.btn.arrow.btn-slider-left::after, div.btn.arrow.btn-slider-right::after {
    right: .8em;
  }
}

button.video-modal.player {
  position: relative;
}

button.video-modal.player::after {
  background: url("../../images/icon-play.svg") no-repeat center;
  background-size: 10%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  width: 100%;
}

button.video-modal.player:not(:hover)::after {
  opacity: 0.75;
}

.video-modal.player {
  position: relative;
}

.video-modal.player .imgcat {
  position: relative;
  cursor: pointer;
}

.video-modal.player .imgcat::after {
  background: url("../../images/icon-play.svg") no-repeat center;
  background-size: 20%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  width: 100%;
}

.video-modal.player .imgcat:not(:hover)::after {
  opacity: 0.75;
}

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container.small {
  max-width: 1100px;
}

@media only all and (max-width: 1280px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.wrapper {
  max-width: 715px;
}

.wrapper.sm {
  max-width: 600px;
}

.wrapper.lg {
  max-width: 860px;
}

.wrapper.xl {
  max-width: 900px;
}

.sep {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.sep.sm {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.sep.lg {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sep.xl {
  margin-bottom: 4.5rem;
  margin-top: 3.5rem;
}

.sep.xxl {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.box {
  padding: 40px;
}

@media only all and (max-width: 1050px) {
  .box {
    padding: 20px;
  }
}

@media only all and (max-width: 768px) {
  .box {
    padding: 10px;
  }
}

.box.box-grey {
  background-color: white;
}

.box.sm {
  padding: 20px;
}

@media only all and (max-width: 1050px) {
  .box.sm {
    padding: 10px;
  }
}

@media only all and (max-width: 768px) {
  .box.sm {
    padding: 5px;
  }
}

.box.lg {
  padding: 5em;
}

.form input[type='text'],
.form input[type='number'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  top: -1px;
  outline: 0;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form input[type='text']:focus,
.form input[type='number']:focus {
  border-color: #db1720;
  background-color: white;
}

.form input[type='text'].valid,
.form input[type='number'].valid {
  border-color: #1ABC9C;
}

.form input[type='text'].not-valid,
.form input[type='number'].not-valid {
  border-color: #E74C3C;
}

.form input[type='text'].not-response,
.form input[type='number'].not-response {
  border-color: #3498DB;
}

.form .btn,
.form input[type='text'] {
  height: 3em;
}

.form .btn {
  width: 3em;
}

.grid-2 {
  display: block;
  font-size: 0;
}

.grid-2 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin-right: 3%;
  margin-bottom: 3%;
  vertical-align: top;
  width: 100%;
  max-width: 48.5%;
}

.grid-2 > *:nth-child(2n), .grid-2 > *:last-child {
  margin-right: 0;
}

.grid-2 > *:nth-last-child(n+3) {
  margin-bottom: 3%;
}

@media only all and (max-width: 768px) {
  .grid-2 {
    display: block;
    font-size: 0;
  }
  .grid-2 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 6%;
    margin-bottom: 6%;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
  }
  .grid-2 > *:nth-child(1n), .grid-2 > *:last-child {
    margin-right: 0;
  }
  .grid-2 > *:nth-last-child(n+2) {
    margin-bottom: 6%;
  }
  .grid-2.wrapped > * {
    max-width: 400px;
  }
}

.grid-2.left {
  text-align: left;
}

.grid-2.left > * {
  text-align: center;
}

.grid-2.right {
  text-align: right;
}

.grid-2.right > * {
  text-align: center;
}

.grid-2.wrapped > * {
  max-width: 400px;
}

.grid-3 {
  display: block;
  font-size: 0;
}

.grid-3 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  vertical-align: top;
  width: 100%;
  max-width: 32.33333%;
}

.grid-3 > *:nth-child(3n), .grid-3 > *:last-child {
  margin-right: 0;
}

.grid-3 > *:nth-last-child(n+4) {
  margin-bottom: 1.5%;
}

@media only all and (max-width: 768px) {
  .grid-3 {
    display: block;
    font-size: 0;
  }
  .grid-3 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 6%;
    margin-bottom: 6%;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
  }
  .grid-3 > *:nth-child(1n), .grid-3 > *:last-child {
    margin-right: 0;
  }
  .grid-3 > *:nth-last-child(n+2) {
    margin-bottom: 6%;
  }
  .grid-3.wrapped > * {
    max-width: 400px;
  }
}

.grid-3.left {
  text-align: left;
}

.grid-3.left > * {
  text-align: center;
}

.grid-3.right {
  text-align: right;
}

.grid-3.right > * {
  text-align: center;
}

.grid-4 {
  display: block;
  font-size: 0;
}

.grid-4 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin-right: 2%;
  margin-bottom: 2%;
  vertical-align: top;
  width: 100%;
  max-width: 23.5%;
}

.grid-4 > *:nth-child(4n), .grid-4 > *:last-child {
  margin-right: 0;
}

.grid-4 > *:nth-last-child(n+5) {
  margin-bottom: 2%;
}

@media only all and (max-width: 768px) {
  .grid-4 {
    display: block;
    font-size: 0;
  }
  .grid-4 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 6%;
    margin-bottom: 6%;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
  }
  .grid-4 > *:nth-child(1n), .grid-4 > *:last-child {
    margin-right: 0;
  }
  .grid-4 > *:nth-last-child(n+2) {
    margin-bottom: 6%;
  }
  .grid-4.wrapped > * {
    max-width: 400px;
  }
}

.grid-4.left {
  text-align: left;
}

.grid-4.left > * {
  text-align: center;
}

.grid-4.right {
  text-align: right;
}

.grid-4.right > * {
  text-align: center;
}

.grid-4-2 {
  display: block;
  font-size: 0;
}

.grid-4-2 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  margin-right: 3%;
  margin-bottom: 3%;
  vertical-align: top;
  width: 100%;
  max-width: 22.75%;
}

.grid-4-2 > *:nth-child(4n), .grid-4-2 > *:last-child {
  margin-right: 0;
}

.grid-4-2 > *:nth-last-child(n+5) {
  margin-bottom: 3%;
}

@media only all and (max-width: 768px) {
  .grid-4-2 {
    display: block;
    font-size: 0;
  }
  .grid-4-2 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 6%;
    margin-bottom: 6%;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
  }
  .grid-4-2 > *:nth-child(1n), .grid-4-2 > *:last-child {
    margin-right: 0;
  }
  .grid-4-2 > *:nth-last-child(n+2) {
    margin-bottom: 6%;
  }
  .grid-4-2.wrapped > * {
    max-width: 400px;
  }
}

.grid-4-2.left {
  text-align: left;
}

.grid-4-2.left > * {
  text-align: center;
}

.grid-4-2.right {
  text-align: right;
}

.grid-4-2.right > * {
  text-align: center;
}

@media only all and (max-width: 1050px) {
  .grid-4-2 {
    display: block;
    font-size: 0;
  }
  .grid-4-2 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 3%;
    margin-bottom: 3%;
    vertical-align: top;
    width: 100%;
    max-width: 48.5%;
  }
  .grid-4-2 > *:nth-child(2n), .grid-4-2 > *:last-child {
    margin-right: 0;
  }
  .grid-4-2 > *:nth-last-child(n+3) {
    margin-bottom: 3%;
  }
}

@media only all and (max-width: 768px) {
  .grid-4-2 {
    display: block;
    font-size: 0;
  }
  .grid-4-2 > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-right: 6%;
    margin-bottom: 6%;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
  }
  .grid-4-2 > *:nth-child(1n), .grid-4-2 > *:last-child {
    margin-right: 0;
  }
  .grid-4-2 > *:nth-last-child(n+2) {
    margin-bottom: 6%;
  }
  .grid-4-2.wrapped > * {
    max-width: 400px;
  }
}

.grid-4-2.left {
  text-align: left;
}

.grid-4-2.left > * {
  text-align: center;
}

.grid-4-2.right {
  text-align: right;
}

.grid-4-2.right > * {
  text-align: center;
}

.grid-icons figure {
  display: inline-block;
  background: center no-repeat;
  background-size: contain;
  height: 4rem;
  width: 4rem;
}

.grid-icons.icons-lg figure {
  height: 6rem;
  width: 6rem;
}

.grid-icons.icons-xl figure {
  height: 7rem;
  width: 7rem;
}

.grid-icons h1,
.grid-icons h2,
.grid-icons h3 {
  margin-bottom: 0;
}

.grid-icons h1 + *,
.grid-icons h2 + *,
.grid-icons h3 + * {
  margin-top: 0.5em;
}

.grid-icons .btn {
  margin-top: 1.5em;
}

figure.icon1::after {
  background-image: url("../../images/ventajas/ventajas-icon1.png?v=1.1");
}

figure.icon2::after {
  background-image: url("../../images/ventajas/ventajas-icon2.png?v=1.1");
}

figure.icon3::after {
  background-image: url("../../images/ventajas/ventajas-icon3.png?v=1.1");
}

figure.icon4::after {
  background-image: url("../../images/ventajas/ventajas-icon4.png?v=1.1");
}

figure.icon5::after {
  background-image: url("../../images/ventajas/ventajas-icon5.png?v=1.1");
}

.content-and-image.instagram::after {
  background-image: url("../../images/instagram_image.jpg?v=1.1");
}

a {
  color: #000;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #db1720;
}

a:hover .btn-slider-left,
a:hover .btn-slider-right {
  color: #000;
}

.legales-modal {
  cursor: pointer;
}

@media only all and (max-width: 768px) {
  .header .container {
    display: block !important;
  }
}

@media only all and (max-width: 768px) {
  .header .container .menu {
    display: block;
    width: 100% !important;
  }
}

.header .container .menu .menu-main > * {
  border-color: transparent;
}

@media only all and (max-width: 480px) {
  .header .container .menu .menu-main .menu-options {
    display: none;
  }
}

.header .container .menu .menu-main .menu-options > * {
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.header .container .menu .menu-main .menu-options > * a {
  font-family: "eroski_demi", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

@media only all and (max-width: 768px) {
  .header .container .menu .menu-main .menu-options > * img {
    margin: 0 auto;
  }
}

@media only all and (min-width: 480px) {
  .header .container .menu .menu-main .menu-options-slider {
    display: none;
  }
}

@media only all and (max-width: 768px) {
  .header .container .menu .menu-main .menu-options-slider > * img {
    margin: 0 auto;
  }
}

.header .container .menu .menu-main .menu-options-slider .slick-prev,
.header .container .menu .menu-main .menu-options-slider .slick-next {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header .container .menu .menu-main .menu-options-slider .slick-prev::before,
.header .container .menu .menu-main .menu-options-slider .slick-next::before {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  background: none;
}

.header .container .menu .menu-main .menu-options-slider .slick-prev {
  left: 0;
}

.header .container .menu .menu-main .menu-options-slider .slick-prev::before {
  left: 50%;
  margin-left: -5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .container .menu .menu-main .menu-options-slider .slick-next {
  right: 0;
}

.header .container .menu .menu-main .menu-options-slider .slick-next::before {
  right: 50%;
  margin-right: -5px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.module {
  text-align: center;
}

.module header {
  margin-bottom: 2em;
}

.module header > *:not(p) {
  margin: 0;
}

.module header h3 {
  font-family: "eroski_demi", Arial, Helvetica, sans-serif;
}

.module header p {
  margin: 0.5em 0;
}

html.home .double-slider .swiper-wrapper > * video {
  display: none;
  opacity: 0;
  position: relative;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
}

html.home .double-slider .swiper-wrapper > * .close-video {
  position: absolute;
  z-index: 10000;
  top: 10px;
  right: 10px;
  font-family: "eroski_demi", Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 7px black;
  cursor: pointer;
  font-size: 1.1em;
  display: none;
}

html.home .double-slider .swiper-wrapper > * .play-video {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

html.home .double-slider .swiper-wrapper .video-modal.player {
  position: relative;
}

html.home .double-slider .swiper-wrapper .video-modal.player::after {
  background: url("../../images/icon-play.svg") no-repeat center;
  background-size: 10%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  width: 100%;
  cursor: pointer;
}

html.home .double-slider .swiper-wrapper .video-modal.player:not(:hover)::after {
  opacity: 0.75;
}

.swiper-button-next,
.swiper-button-prev {
  height: 3rem;
  width: 3rem;
  background-size: 3rem;
  transition: opacity 0.3s ease-in-out;
}

.swiper-button-next:not(:hover),
.swiper-button-prev:not(:hover) {
  opacity: 0.8;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("../../images/slider-button-prev.png");
  left: 2%;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("../../images/slider-button-next.png");
  right: 2%;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.25;
}

.swiper-pagination-bullet {
  height: 0.75rem;
  width: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: #db1720;
}

.swiper-mobile .no-cover {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-mobile .cover {
  background-position: center;
  background-size: cover;
}

.swiper-mobile .cover-center {
  background-position: center;
  background-size: cover;
}

.swiper-mobile .cover-top-center {
  background-position: top center;
  background-size: cover;
}

@media only all and (max-width: 768px) {
  .swiper-mobile .cover-top-center {
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.swiper-mobile .cover-right {
  background-position: right;
  background-size: cover;
}

.swiper-mobile .cover-left {
  background-position: left;
  background-size: cover;
}

.swiper-slide.no-cover {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-slide.cover {
  background-position: center;
  background-size: cover;
}

.swiper-slide.cover-center {
  background-position: center;
  background-size: cover;
}

.swiper-slide.cover-top-center {
  background-position: top center;
  background-size: cover;
}

.swiper-slide.cover-right {
  background-position: right;
  background-size: cover;
}

.swiper-slide.cover-left {
  background-position: left;
  background-size: cover;
}

.swiper-mobile {
  display: none;
  /*> div {
		height: 100%;
	}*/
}

.swiper-mobile.slider-xl {
  height: 45rem;
}

.swiper-mobile.slider-lg {
  height: 40rem;
}

.swiper-mobile.slider-ml {
  height: 35rem;
}

.swiper-mobile.slider-md {
  height: 30rem;
}

.swiper-mobile.slider-sm {
  height: 20rem;
}

.swiper-mobile.slider-sl {
  height: 15rem;
}

@media only all and (max-width: 768px) {
  .swiper-mobile {
    /*height: 20rem !important;*/
    display: block;
  }
}

.slider-xl .swiper-slide {
  height: 45rem;
}

.slider-lg .swiper-slide {
  height: 40rem;
}

.slider-ml .swiper-slide {
  height: 35rem;
}

.slider-md .swiper-slide {
  height: 30rem;
}

.slider-sm .swiper-slide {
  height: 20rem;
}

.slider-sl .swiper-slide {
  height: 15rem;
}

@media only all and (max-width: 768px) {
  .swiper-slide {
    height: 20rem !important;
  }
}

.swiper-container img {
  width: 100%;
}

html.home .swiper-container.double-slider, html.fundacion .swiper-container.double-slider, html.premios .swiper-container.double-slider, html.home .swiper-container.double2-slider, html.fundacion .swiper-container.double2-slider, html.premios .swiper-container.double2-slider {
  padding-bottom: 40px;
}

@media only all and (max-width: 1050px) {
  .swiper-container.double-slider, .swiper-container.double2-slider {
    padding-bottom: 84px;
  }
}

@media only all and (max-width: 768px) {
  .swiper-container.double-slider, .swiper-container.double2-slider {
    padding-bottom: 121px;
  }
  .swiper-container.double-slider:not(html.premios .swiper-container.double-slider):not(html.premios .swiper-container.double2-slider), .swiper-container.double2-slider:not(html.premios .swiper-container.double-slider):not(html.premios .swiper-container.double2-slider) {
    padding-bottom: 121px;
  }
}

@media only all and (max-width: 320px) {
  .swiper-container.double-slider, .swiper-container.double2-slider {
    padding-bottom: 45px;
  }
}

.swiper-container.double-slider .swiper-button-next,
.swiper-container.double-slider .swiper-button-prev, .swiper-container.double2-slider .swiper-button-next,
.swiper-container.double2-slider .swiper-button-prev {
  top: 45%;
}

.swiper-container.swiper-nomobile {
  display: none;
}

@media only all and (min-width: 768px) {
  .swiper-container.swiper-nomobile {
    display: block;
  }
}

.swiper-container.swiper-mobile {
  display: block;
}

@media only all and (min-width: 768px) {
  .swiper-container.swiper-mobile {
    display: none;
  }
}

main {
  /*overflow: auto;*/
}

main > section {
  margin-bottom: 3rem;
  margin-top: 3rem;
  /*&:first-child {
			margin-top: 0;
		}*/
}

main > section.beige {
  background: #e5e0dc;
  padding: 1rem;
}

.header {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

@media only all and (max-width: 480px) {
  .header .contenedor .container {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.header .contenedor .container > * {
  vertical-align: middle;
}

.header .contenedor:first-child {
  background: rgba(255, 255, 255, 0.8);
}

.header .contenedor:first-child .container {
  min-height: 60px;
  margin: 0 auto;
  padding: 10px;
}

@media only all and (max-width: 768px) {
  .header .contenedor:first-child .container {
    /*padding: 10px 10px;*/
  }
}

.header .contenedor:last-child {
  background: #fff;
  border-top: 1px solid #262626;
}

.header .contenedor:last-child .container {
  display: block;
  margin-bottom: 4px;
}

@media only all and (max-width: 480px) {
  .header .contenedor:last-child .container {
    padding-bottom: 20px;
  }
}

.header .contenedor:last-child .container > * {
  display: inline-block;
}

.header .contenedor:last-child .container > *:first-child {
  width: 20%;
}

@media only all and (max-width: 480px) {
  .header .contenedor:last-child .container > *:first-child {
    width: 100%;
    text-align: center;
  }
}

body {
  padding-top: 5rem;
  display: block;
}

@media only all and (max-width: 880px) {
  header .container {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 2px;
  }
}

body > footer {
  color: #fff;
  background: #db1720;
  padding-top: 1.1em;
  padding-bottom: 20px;
  text-align: center;
}

@media only all and (max-width: 880px) {
  body > footer {
    padding: 0;
    margin: 0;
  }
}

@media only all and (max-width: 768px) {
  body > footer .container {
    padding: 10px 0;
  }
}

body > footer .container .footer__tel {
  font-size: 18px;
}

body > footer .container .footer__tel p {
  margin-bottom: 0;
}

body > footer .container .footer__horario {
  font-family: "eroski_medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body > footer .container .footer__horario p {
  margin-top: 0;
}

html.home > section:first-child {
  max-width: 1280px;
}

.m-portada-slider {
  position: relative;
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media only all and (max-width: 768px) {
  .m-portada-slider {
    margin-top: 109px;
  }
}

@media only all and (max-width: 480px) {
  .m-portada-slider {
    margin-top: 119px;
  }
}

.m-portada-slider .container {
  margin-top: 0;
}

@media only all and (max-width: 1280px) {
  .m-portada-slider .container {
    padding: 0;
  }
}

.m-portada-slider .container .slick-desktop {
  position: relative;
}

.m-portada-slider .container .slick-desktop.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.m-portada-slider .container .slick-desktop div[class*='slick-desktop__item'] {
  position: relative;
  text-align: center;
  min-height: 400px;
  background-position: center top;
  background-size: cover;
}

.m-portada-slider .container .slick-desktop div[class*='slick-desktop__item'] .slick-desktop__content {
  position: absolute;
  top: 0;
  left: 40%;
  margin-left: -200px;
  width: 400px;
  height: 100%;
  text-align: left;
  color: #fff;
  z-index: 2;
}

@media only all and (max-width: 480px) {
  .m-portada-slider .container .slick-desktop div[class*='slick-desktop__item'] .slick-desktop__content {
    margin-left: 0;
    left: 0;
    width: auto;
  }
  .m-portada-slider .container .slick-desktop div[class*='slick-desktop__item'] .slick-desktop__content > *:not(.fondo) {
    margin-left: 20px;
  }
}

.m-portada-slider .container .slick-desktop div[class*='slick-desktop__item'] .slick-desktop__content.fondo {
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.8);
}

@media only all and (max-width: 480px) {
  .m-portada-slider .container .slick-desktop div[class*='slick-desktop__item'] .slick-desktop__content.fondo {
    background: rgba(0, 0, 0, 0.4);
  }
}

.m-portada-slider .container .slick-desktop div[class*='slick-desktop__item'] .slick-desktop__content h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "eroski_bold", Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  margin-top: 22px;
}

.m-portada-slider .container .slick-desktop div[class*='slick-desktop__item'] .slick-desktop__content .slick-desktop__imgOferta {
  margin-top: 10px;
}

.m-portada-slider .container .slick-desktop .slick-desktop__dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-self: center;
}

.m-portada-slider .container .slick-desktop .slick-desktop__dots li {
  text-align: center;
  font-family: "eroski_bold", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  padding: 15px 15px;
  border: 1px solid;
  text-transform: uppercase;
  cursor: pointer;
  width: 150px;
  margin: 0 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.m-portada-slider .container .slick-desktop .slick-desktop__dots li:hover, .m-portada-slider .container .slick-desktop .slick-desktop__dots li.slick-active {
  background: rgba(255, 255, 255, 0.3);
}

.m-portada-slider .container .slick-desktop .slick-prev,
.m-portada-slider .container .slick-desktop .slick-next {
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 20px;
}

.m-portada-slider .container .slick-desktop .slick-prev::before,
.m-portada-slider .container .slick-desktop .slick-next::before {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  background: none;
}

.m-portada-slider .container .slick-desktop .slick-prev {
  left: 0;
}

.m-portada-slider .container .slick-desktop .slick-prev::before {
  left: 50%;
  margin-left: -5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.m-portada-slider .container .slick-desktop .slick-next {
  right: 0;
}

.m-portada-slider .container .slick-desktop .slick-next::before {
  right: 50%;
  margin-right: -5px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.m-portada-cintillo {
  position: relative;
  margin-top: -16px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: #ffc900;
}

.m-portada-cintillo .cintillo > * {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media only all and (max-width: 480px) {
  .m-portada-cintillo .cintillo .cintillo-descuento {
    max-width: 52px;
  }
}

.m-portada-cintillo .cintillo .cintillo-descuento img {
  margin-left: auto;
}

@media only all and (max-width: 480px) {
  .m-portada-cintillo .cintillo .cintillo-descuento img {
    min-width: 67px;
    min-height: 36px;
  }
}

.m-portada-cintillo .cintillo .cintillo-texto {
  text-align: left;
  margin: 0 20px;
  font-family: "eroski_book", Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 171px;
}

@media only all and (max-width: 480px) {
  .m-portada-cintillo .cintillo .cintillo-texto {
    font-size: 12px;
  }
}

.m-portada-cintillo .cintillo .cintillo-texto p {
  margin-right: auto;
}

.m-portada-cintillo .cintillo .cintillo-btn {
  background: url("../../images/cintillo/cuadrados-amarillos-deco.png") no-repeat;
  background-size: cover;
}

@media only all and (max-width: 480px) {
  .m-portada-cintillo .cintillo .cintillo-btn {
    max-width: 66px;
  }
}

.m-portada-cintillo .cintillo .cintillo-btn a {
  margin-right: auto;
  text-decoration: none;
  text-transform: none;
  margin-left: 20px;
}

@media only all and (max-width: 480px) {
  .m-portada-cintillo .cintillo .cintillo-btn a {
    min-width: 8em;
  }
}

.m-portada-cintillo .cintillo .cintillo-btn a::after {
  border-left: 8px solid #000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.m-portada-destacados {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.m-portada-destacados .container .destacados {
  justify-content: space-around;
}

@media only all and (max-width: 480px) {
  .m-portada-destacados .container .destacados {
    display: block;
  }
}

.m-portada-destacados .container .destacados > * {
  max-width: 48%;
  position: relative;
  overflow: hidden;
}

@media only all and (max-width: 480px) {
  .m-portada-destacados .container .destacados > * {
    max-width: 100%;
    display: block;
  }
}

.m-portada-destacados .container .destacados > * > *:not([class*="__img"]):not([class*="__title"]) {
  position: absolute;
  z-index: 2;
}

.m-portada-destacados .container .destacados > * [class*="__img"] {
  position: relative;
  z-index: 1;
}

.m-portada-destacados .container .destacados > * [class*="__img"] [class*="__logo"] {
  position: absolute;
  top: 10px;
  left: 10px;
}

.m-portada-destacados .container .destacados > * [class*="__title"] {
  font-family: "eroski_bold", Arial, Helvetica, sans-serif;
  font-size: 32px;
}

@media only all and (max-width: 768px) {
  .m-portada-destacados .container .destacados > * [class*="__title"] {
    font-size: 24px;
  }
}

.m-portada-destacados .container .destacados > * [class*="__desc"] {
  bottom: 6px;
  width: 100%;
  text-align: center;
  font-family: "eroski_bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #fff;
}

@media only all and (max-width: 768px) {
  .m-portada-destacados .container .destacados > * [class*="__desc"] {
    font-size: 18px;
  }
}

.m-portada-destacados .container .destacados .destacados-destacado1 {
  /*.destacados-destacado1__img {
          background: url('../../images/destacados/imagen-destacado1.png') no-repeat;
          background-size: cover;
        }*/
}

.m-portada-destacados .container .destacados .destacados-destacado1 .destacados-destacado1__desc {
  background: rgba(0, 168, 240, 0.8);
}

.m-portada-destacados .container .destacados .destacados-destacado2 {
  /*.destacados-destacado2__img {
          background: url('../../images/destacados/imagen-destacado2.png') no-repeat;
          background-size: cover;
        }*/
}

.m-portada-destacados .container .destacados .destacados-destacado2 .destacados-destacado2__desc {
  background: rgba(0, 128, 0, 0.8);
}

.m-portada-ventajas {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.m-portada-ventajas .container {
  max-height: 273px;
}

@media only all and (max-width: 768px) {
  .m-portada-ventajas .container {
    max-height: 100%;
  }
}

.m-portada-ventajas .container h2 {
  margin-bottom: 60px;
}

.m-portada-ventajas .container .ventajas {
  position: relative;
}

.m-portada-ventajas .container .ventajas .tarjeta {
  /*-webkit-transition: $transition-all;
        -moz-transition: $transition-all;
        -ms-transition: $transition-all;
        -o-transition: $transition-all;
        transition: $transition-all;*/
}

.m-portada-ventajas .container .ventajas .tarjeta.no-fixed {
  position: absolute;
  width: 115px;
  height: 89px;
  top: -48px;
  left: 5px;
  z-index: 10;
}

.m-portada-ventajas .container .ventajas .tarjeta.fixed {
  position: fixed;
  top: 88vh;
  opacity: 0.5;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.m-portada-ventajas .container .ventajas .tarjeta.fixed:hover {
  opacity: 1;
}

@media only all and (max-width: 768px) {
  .m-portada-ventajas .container .ventajas .tarjeta.fixed {
    position: absolute;
    width: 115px;
    height: 89px;
    top: -48px;
    left: 5px;
    z-index: 10;
    opacity: 1;
  }
}

@media only all and (max-width: 768px) {
  .m-portada-ventajas .container .ventajas .flex-container {
    display: block;
  }
}

.m-portada-ventajas .container .ventajas .flex-container > * {
  width: 166px;
  height: 200px;
}

@media only all and (max-width: 768px) {
  .m-portada-ventajas .container .ventajas .flex-container > * {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-bottom: 5px;
  }
}

@media only all and (max-width: 480px) {
  .m-portada-ventajas .container .ventajas .flex-container > * {
    display: block;
    width: 100%;
  }
}

.m-portada-ventajas .container .ventajas .flex-container > [class*="ventajas-ventaja"] {
  background: red;
  position: relative;
}

.m-portada-ventajas .container .ventajas .flex-container > [class*="ventajas-ventaja"] figure {
  width: 100%;
  height: 105px;
}

.m-portada-ventajas .container .ventajas .flex-container > [class*="ventajas-ventaja"]:not(.ventajas-registra) [class*="__txt"] {
  font-family: "eroski_medium", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
}

.m-portada-ventajas .container .ventajas .flex-container .ventajas-registra {
  position: relative;
  background: #393d49;
}

.m-portada-ventajas .container .ventajas .flex-container .ventajas-registra .ventajas-registra__txt {
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  margin-top: 40px;
  margin-left: 10px;
  font-family: "eroski_medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@media only all and (max-width: 480px) {
  .m-portada-ventajas .container .ventajas .flex-container .ventajas-registra .ventajas-registra__txt {
    padding-top: 30px;
    text-align: center;
  }
}

.m-portada-ventajas .container .ventajas .flex-container .ventajas-registra .ventajas-registra__btn {
  text-align: left;
}

@media only all and (max-width: 480px) {
  .m-portada-ventajas .container .ventajas .flex-container .ventajas-registra .ventajas-registra__btn {
    text-align: center;
  }
}

.m-portada-ventajas .container .ventajas .flex-container .ventajas-registra .ventajas-registra__btn a {
  width: 82%;
  min-width: 0;
  padding: .55em .85em;
  text-decoration: none;
  text-transform: none;
  margin-left: 10px;
  font-family: "eroski_medium", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.m-portada-ventajas .container .ventajas .flex-container .ventajas-registra .ventajas-registra__btn a::after {
  border-top: 5px solid transparent;
  border-left: 8px solid #000;
  border-bottom: 5px solid transparent;
}

@media only all and (max-width: 480px) {
  .m-portada-ventajas .container .ventajas .flex-container .ventajas-registra .ventajas-registra__btn a {
    width: auto;
    margin: 0 auto;
  }
}

.m-portada-ventajas .container .ventajas .flex-container .ventajas-ventaja1 {
  background: #db1720;
}

.m-portada-ventajas .container .ventajas .flex-container .ventajas-ventaja2 {
  background: #c80c22;
}

.m-portada-ventajas .container .ventajas .flex-container .ventajas-ventaja3 {
  background: #d82322;
}

.m-portada-ventajas .container .ventajas .flex-container .ventajas-ventaja4 {
  background: #e43227;
}

.m-portada-ventajas .container .ventajas .flex-container .ventajas-ventaja5 {
  background: #e02019;
}

.content-and-image {
  margin-right: 50%;
  position: relative;
}

.content-and-image::after {
  background: no-repeat center;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.content-and-image .btn {
  margin-top: 1em;
}

.content-and-image figure {
  background: center no-repeat;
  background-size: contain;
  display: inline-block;
  height: 7em;
  width: 7em;
}

.highlight img {
  width: 100%;
}

.infowindow {
  text-align: left;
  font-size: 16px;
  font-size: 1rem;
}

@media only all and (max-width: 1050px) {
  .infowindow {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media only all and (max-width: 480px) {
  .infowindow {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.infowindow .fa {
  margin-right: 0.5em;
  text-align: right;
}

.infowindow h2,
.infowindow .fa {
  color: #db1720;
}

.logo {
  text-align: right;
  /*vertical-align: top !important;*/
}

@media only all and (max-width: 880px) {
  .logo {
    padding: 7px;
  }
}

.logo a {
  background: url(../../images/eroski-logo.png) no-repeat;
  display: block;
  width: 142px;
  height: 45px;
  transition: none;
  background-size: contain;
  background-position: center top;
}

@media all and (-ms-high-contrast: none) {
  .logo a {
    /* IE10 */
    /* IE11 */
  }
  .logo a {
    background-position-y: -9px;
  }
  .logo a *::-ms-backdrop, .logo a {
    background-position-y: -9px;
  }
}

@media only all and (max-width: 880px) {
  .logo a {
    background-position: center top;
    background-size: contain;
  }
}

@media only all and (max-width: 880px) and (-ms-high-contrast: none) {
  .logo a {
    /* IE10 */
    /* IE11 */
  }
  .logo a {
    background-position-y: -51px;
    background-position-x: -153px;
    height: 57px;
  }
  .logo a *::-ms-backdrop, .logo a {
    background-position-y: -51px;
    background-position-x: -153px;
    height: 57px;
  }
}

.logo figure {
  position: relative;
}

.logo figure img {
  max-width: inherit;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 45px;
  /*// BP | Menú Burguer
			@include responsive('max-boxes') {
				height: 50px;
				width: 160px;
			}

			// BP | Phone
			@include responsive('max-phablet') {
				height: 37px;
				width: 120px;
			}*/
}

@media only all and (max-width: 620px) {
  .logo figure img {
    width: 139px;
    height: 76px;
  }
}

@media only all and (max-width: 480px) {
  .logo figure img {
    margin-right: 20px;
  }
}

@media only all and (max-width: 405px) {
  .logo figure img {
    width: 110px;
    height: 60px;
  }
}

@media only all and (max-width: 320px) {
  .logo figure img {
    width: 99px;
    height: 54px;
  }
}

.spinner-content {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: #fff;
}

.spinner-content .spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.spinner-content .spinner .cube1, .spinner-content .spinner .cube2 {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.spinner-content .spinner .cube1 {
  background-color: #db1720;
}

.spinner-content .spinner .cube2 {
  background-color: #365396;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
