//- Versión
- var version = 1.4

//- Metas
- var lang = 'es'
- var title = 'Eroski Contigo'
- var desc = 'Supermercado online Eroski' // Cambiar
- var keywords = 'Eroski, tienda, supremercado, hipermercado'
- var author = 'Eroski España'
- var pathJs = 'js/min/scripts.min.js'
- var pathCSS = 'css/min/styles.min.css'
- var favicon = 'favicon.ico'
- var appleFavicon = 'apple-touch-icon.png'

//- Rutas
- var img = 'images'

//- Facebook
- var social_sharing_image = img + '/imagen_social_FB.jpg' // Cambiar
- var social_sharing_title = 'Título social FB' // Cambiar
- var social_sharing_desc = 'Descripción social FB' // Cambiar

//- Contenido | Compartir en redes sociales
- var share_facebook = 'https://www.facebook.com/link_social_FB/'
- var share_tweet = 'https://twitter.com/intent/tweet?text=Texto para compartir en twitter' // Cambiar

//- Librerías
- var jquery = 'https://code.jquery.com/jquery-3.1.1.min.js'
- var fontAwesome = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'
- var tweenMax = 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js'
- var timelineMax = 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TimelineMax.min.js'
- var slickCSS = '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css'
- var slickThemeCSS = '//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick-theme.css'
- var slickJS = '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'
- var youTubeApi = 'js/vendor/youtube-api.js'

//- Páginas | URLs
-
    var page_url = {
        super: 'super',
        electronica: 'electronica',
        electrohogar: 'electro-hogar',
        descansa: 'descansa',
        jardin: 'jardin',
        movil: 'movil',
        viajes: 'viajes',
        seguros: 'seguros'
    }

//- Páginas | Texto de opción de menú
-
    var page_img = {
        super: 'images/menu/icon1.png',
        electronica: 'images/menu/icon2.png',
        electrohogar: 'images/menu/icon3.png',
        descansa: 'images/menu/icon4.png',
        jardin: 'images/menu/icon5.png',
        movil: 'images/menu/icon6.png',
        viajes: 'images/menu/icon7.png',
        seguros: 'images/menu/icon8.png'
    }

//- Páginas | Clases de páginas
-
    var page_class = {
        super: 'super',
        electronica: 'electronica',
        electrohogar: 'electro-hogar',
        descansa: 'descansa',
        jardin: 'jardin',
        movil: 'movil',
        viajes: 'viajes',
        seguros: 'seguros'
    }

//- Páginas | Target
-
    var page_target = {
        super: '_self',
        electronica: '_self',
        electrohogar: '_self',
        descansa: '_self',
        jardin: '_self',
        movil: '_self',
        viajes: '_self',
        seguros: '_self'
    }

//- Menú | Opciones de menú principal
- var menu = []
- menu.push({img: page_img.super, url: page_url.super, class: page_class.super, target: page_target.super})
- menu.push({img: page_img.electronica, url: page_url.electronica, class: page_class.electronica, target: page_target.electronica})
- menu.push({img: page_img.electrohogar, url: page_url.electrohogar, class: page_class.electrohogar, target: page_target.electrohogar})
- menu.push({img: page_img.descansa, url: page_url.descansa, class: page_class.descansa, target: page_target.descansa})
- menu.push({img: page_img.jardin, url: page_url.jardin, class: page_class.jardin, target: page_target.jardin})
- menu.push({img: page_img.movil, url: page_url.movil, class: page_class.movil, target: page_target.movil})
- menu.push({img: page_img.viajes, url: page_url.viajes, class: page_class.viajes, target: page_target.viajes})
- menu.push({img: page_img.seguros, url: page_url.seguros, class: page_class.seguros, target: page_target.seguros})


//- Vídeo | IDs
- var video_eroski = 'BwninWGn_HI'


//- Sliders home
- var sliders = []
-
    var slide_fondo = {
        slide1: false,
        slide2: true,
        slide3: true,
        slide4: true
    }
-
    var slide_image = {
        slide1: 'images/slider-home/slide1/bg-slide1.png',
        slide2: 'images/slider-home/slide2/bg-slide2.png',
        slide3: 'images/slider-home/slide3/bg-slide3.png',
        slide4: 'images/slider-home/slide4/bg-slide4.png'
    }
-
    var slide_title = {
        slide1: 'Vuelven los frescos',
        slide2: 'Otro título',
        slide3: 'Vuelven los frescos',
        slide4: 'Otro título más'
    }
-
    var slide_buttons = {
        slide1: {
            btn1: {
                btn_txt: 'Ver ofertas',
                btn_link: '#'
            },
            btn2: {
                btn_txt: 'Comprar',
                btn_link: '#'
            }
        },
        slide2: {
            btn1: {
                btn_txt: '',
                btn_link: '#'
            },
            btn2: {
                btn_txt: '',
                btn_link: '#'
            }
        },
        slide3: {
            btn1: {
                btn_txt: 'Ver ofertas',
                btn_link: '#'
            },
            btn2: {
                btn_txt: 'Comprar',
                btn_link: '#'
            }
        },
        slide4: {
            btn1: {
                btn_txt: 'Ver ofertas',
                btn_link: '#'
            },
            btn2: {
                btn_txt: 'Comprar',
                btn_link: '#'
            }
        }
    }
-
    var slide_txt = {
        slide1: '',
        slide2: 'Descubre el menú más popular elegido entre todos los socios de EROSKI Club',
        slide3: '',
        slide4: ''
    }
-
    var slide_oferta = {
        slide1: {
            imgO1: 'images/slider-home/slide1/picto-oferta.png'
        },
        slide2: {
            imgO1: ''
        },
        slide3: {
            imgO1: ''
        },
        slide4: {
            imgO1: ''
        }
    }

//- Añadimos todas las propiedades al array sliders
- sliders.push({fondo: slide_fondo.slide1, img: slide_image.slide1, title: slide_title.slide1, btns: slide_buttons.slide1, txt: slide_txt.slide1, oferta: slide_oferta.slide1})
- sliders.push({fondo: slide_fondo.slide2, img: slide_image.slide2, title: slide_title.slide2, btns: slide_buttons.slide2, txt: slide_txt.slide2, oferta: slide_oferta.slide2})
- sliders.push({fondo: slide_fondo.slide3, img: slide_image.slide3, title: slide_title.slide3, btns: slide_buttons.slide3, txt: slide_txt.slide3, oferta: slide_oferta.slide3})
- sliders.push({fondo: slide_fondo.slide4, img: slide_image.slide4, title: slide_title.slide4, btns: slide_buttons.slide4, txt: slide_txt.slide4, oferta: slide_oferta.slide4})