extends templates/_page

//- Página actual
block page
	- var page = page_class.home

//- Contenido
block content

	//- Módulo | Slider de portada
	section
		include modules/_portada-slider
		include modules/_portada-cintillo

	section
		include modules/_portada-destacados

	section
		include modules/_portada-ventajas