html.home {
  > section:first-child {
    max-width: 1280px;
  }
}
.m-portada-slider {
  position: relative;
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include responsive('max-phablet') {
    margin-top: 109px;
  }
  @include responsive('max-phone') {
    margin-top: 119px;
  }

  .container {
    margin-top: 0;

    @include responsive('max-desktop') {
      padding: 0;
    }

    .slick-desktop {
      position: relative;

      &.slick-dotted.slick-slider {
        margin-bottom: 0;
      }

      div[class*='slick-desktop__item'] {
        position: relative;
        text-align: center;
        min-height: 400px;
        background-position: center top;
        background-size: cover;

        .slick-desktop__content {
          position: absolute;
          top: 0;
          left: 40%;
          margin-left: -200px;
          width: 400px;
          height: 100%;
          text-align: left;
          color: #fff;
          z-index: 2;

          @include responsive('max-phone') {
            margin-left: 0;
            left: 0;
            width: auto;

            > *:not(.fondo) {
              margin-left: 20px;
            }
          }

          &.fondo {
            padding: 0 15px;
            background: rgba(0, 0, 0, .8);

            @include responsive('max-phone') {
              background: rgba(0, 0, 0, .4);
            }
          }

          h2 {
            text-transform: uppercase;
            font-size: 40px;
            font-family: $font-bold-eroski;
            margin-bottom: 0;
            margin-top: 22px;
          }

          .slick-desktop__imgOferta {
            margin-top: 10px;
          }
        }
      }
      .slick-desktop__dots {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 10px 0;
        background: rgba(0, 0, 0, .5);
        justify-content: center;
        align-self: center;

        li {
          text-align: center;
          font-family: $font-bold-eroski;
          font-size: 12px;
          color: #fff;
          padding: 15px 15px;
          border: 1px solid;
          text-transform: uppercase;
          cursor: pointer;
          width: 150px;
          margin: 0 5px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          -webkit-transition: $transition-all;
          -moz-transition: $transition-all;
          -ms-transition: $transition-all;
          -o-transition: $transition-all;
          transition: $transition-all;

          &:hover,
          &.slick-active {
            background: rgba(255, 255, 255, .3);
          }
        }
      }
      .slick-prev,
      .slick-next {
        z-index: 2;
        background: rgba(0, 0, 0, .8);
        padding: 20px 20px;

        &::before {
          content: '';
          width: 10px;
          height: 10px;
          border-top: 1px solid #fff;
          border-left: 1px solid #fff;
          position: absolute;
          top: 50%;
          margin-top: -5px;
          background: none;
        }
      }
      .slick-prev {
        left: 0;

        &::before {
          left: 50%;
          margin-left: -5px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
      .slick-next {
        right: 0;

        &::before {
          right: 50%;
          margin-right: -5px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }
      }
    }
  }
}