.m-portada-ventajas {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;

  .container {
    max-height: 273px;

    @include responsive('max-phablet') {
      max-height: 100%;
    }

    h2 {
      margin-bottom: 60px;
    }

    .ventajas {
      position: relative;

      .tarjeta {
        /*-webkit-transition: $transition-all;
        -moz-transition: $transition-all;
        -ms-transition: $transition-all;
        -o-transition: $transition-all;
        transition: $transition-all;*/

        &.no-fixed {
          position: absolute;
          width: 115px;
          height: 89px;
          top: -48px;
          left: 5px;
          z-index: 10;
        }

        &.fixed {
          position: fixed;
          top: 88vh;
          opacity: 0.5;
          cursor: pointer;
          z-index: 10;
          -webkit-transition: $transition-opacity;
          -moz-transition: $transition-opacity;
          -ms-transition: $transition-opacity;
          -o-transition: $transition-opacity;
          transition: $transition-opacity;

          &:hover {
            opacity: 1;
          }

          @include responsive('max-phablet') {
            position: absolute;
            width: 115px;
            height: 89px;
            top: -48px;
            left: 5px;
            z-index: 10;
            opacity: 1;
          }
        }
      }
      .flex-container {

        @include responsive('max-phablet') {
          display: block;
        }

        > * {
          width: 166px;
          height: 200px;

          @include responsive('max-phablet') {
            display: inline-block;
            width: 49%;
            vertical-align: top;
            margin-bottom: 5px;
          }
          @include responsive('max-phone') {
            display: block;
            width: 100%;
          }
        }
        > [class*="ventajas-ventaja"] {
          background: red;
          position: relative;

          figure {
            width: 100%;
            height: 105px;
          }

          &:not(.ventajas-registra) [class*="__txt"] {
            font-family: $font-medium-eroski;
            font-size: 15px;
            color: #fff;
          }
        }
        .ventajas-registra {
          position: relative;
          background: #393d49;

          .ventajas-registra__txt {
            text-align: left;
            text-transform: uppercase;
            color: #fff;
            margin-top: 40px;
            margin-left: 10px;
            font-family: $font-medium-eroski;
            font-size: 18px;

            @include responsive('max-phone') {
              padding-top: 30px;
              text-align: center;
            }
          }
          .ventajas-registra__btn {
            text-align: left;

            @include responsive('max-phone') {
              text-align: center;
            }

            a {
              width: 82%;
              min-width: 0;
              padding: .55em .85em;
              text-decoration: none;
              text-transform: none;
              margin-left: 10px;
              font-family: $font-medium-eroski;
              font-size: 15px;

              &::after {
                border-top: 5px solid transparent;
                border-left: 8px solid #000;
                border-bottom: 5px solid transparent;
              }

              @include responsive('max-phone') {
                width: auto;
                margin: 0 auto;
              }
            }
          }
        }
        .ventajas-ventaja1 {
          background: #db1720;
        }
        .ventajas-ventaja2 {
          background: #c80c22;
        }
        .ventajas-ventaja3 {
          background: #d82322;
        }
        .ventajas-ventaja4 {
          background: #e43227;
        }
        .ventajas-ventaja5 {
          background: #e02019;
        }
      }
    }
  }
}