.m-portada-cintillo {
  position: relative;
  margin-top: -16px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: #ffc900;

  .cintillo {
    > * {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .cintillo-descuento {

      @include responsive('max-phone') {
        max-width: 52px;
      }

      img {
        margin-left: auto;

        @include responsive('max-phone') {
          min-width: 67px;
          min-height: 36px;
        }
      }
    }
    .cintillo-texto {
      text-align: left;
      margin: 0 20px;
      font-family: $font-book-eroski;
      font-size: 16px;
      max-width: 171px;

      @include responsive('max-phone') {
        font-size: 12px;
      }

      p {
        margin-right: auto;
      }
    }
    .cintillo-btn {
      background: url("../../images/cintillo/cuadrados-amarillos-deco.png") no-repeat;
      background-size: cover;

      @include responsive('max-phone') {
        max-width: 66px;
      }

      a {
        margin-right: auto;
        text-decoration: none;
        text-transform: none;
        margin-left: 20px;

        @include responsive('max-phone') {
          min-width: 8em;
        }

        &::after {
          border-left: 8px solid #000;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
        }
      }
    }
  }
}