.m-portada-destacados {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .container {
    .destacados {

      @include responsive('max-phone') {
        display: block;
      }

      justify-content: space-around;
      > * {
        max-width: 48%;
        position: relative;
        overflow: hidden;

        @include responsive('max-phone') {
          max-width: 100%;
          display: block;
        }

        > *:not([class*="__img"]):not([class*="__title"]) {
          position: absolute;
          z-index: 2;
        }
        [class*="__img"] {
          position: relative;
          z-index: 1;
          [class*="__logo"] {
            position: absolute;
            top: 10px;
            left: 10px;
          }
        }
        [class*="__title"] {
          font-family: $font-bold-eroski;
          font-size: 32px;

          @include responsive('max-phablet') {
            font-size: 24px;
          }
        }
        [class*="__desc"] {
          bottom: 6px;
          width: 100%;
          text-align: center;
          font-family: $font-bold-eroski;
          font-size: 24px;
          color: $color-light;

          @include responsive('max-phablet') {
            font-size: 18px;
          }
        }
      }
      .destacados-destacado1 {
        /*.destacados-destacado1__img {
          background: url('../../images/destacados/imagen-destacado1.png') no-repeat;
          background-size: cover;
        }*/
        .destacados-destacado1__desc {
          background: rgba(0,168,240,.8);
        }
      }
      .destacados-destacado2 {
        /*.destacados-destacado2__img {
          background: url('../../images/destacados/imagen-destacado2.png') no-repeat;
          background-size: cover;
        }*/
        .destacados-destacado2__desc {
          background: rgba(0,128,0,.8);
        }
      }
    }
  }
}