//- jQuery
script(type='text/javascript' src=jquery)

//- Greensock
script(type='text/javascript' src=tweenMax)
script(type='text/javascript' src=timelineMax)

//- Slick JS
script(type='text/javascript' src=slickJS)

//- JS
script(type='application/javascript' src=pathJs + '?v=#{version}')

//- JS FORM
<!-- {SCRIPTS} -->
<!-- {JS} -->

//- Google Analytics
include ../partials/_analytics

