//- Cabecera
.header

	.contenedor
		.container

			//- Logo
			.logo
				a(href='/')

			//- Botón de menú Hamburguesa
				.burguer
					button
						i.fa.fa-bars(aria-hidden='true')

			//- Título
				.title
					h1
						a(href='index.html', target='_self') Gama Premium
	.contenedor
		.container
			.menu-title
				h4 Compra online
			//- Menú
			nav.menu
				.menu-main
					//- Menú principal
					ul.menu-options.flex-container
						each option in menu
							li.flex-item(class=typeof option.class === "undefined" ? "" : option.class)
								a(href='#{option.url}', title='Ir a página de #{option.text}' target='#{option.target}')
									img(src="#{option.img}", alt="#{option.url}")

					//- Menú principal
					ul.menu-options-slider
						each option in menu
							li(class=typeof option.class === "undefined" ? "" : option.class)
								a(href='#{option.url}', title='Ir a página de #{option.text}' target='#{option.target}')
									img(src="#{option.img}", alt="#{option.url}")