//- Metas y título
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
title=title
meta(name='description' content=desc)
meta(name='keywords' content=keywords)
meta(name='author' content=author)
meta(name='viewport' content='width=device-width, initial-scale=1')

//- Compartir en redes sociales
meta(property='og:image' content=social_sharing_image)
meta(property='og:title' content=social_sharing_title)
meta(property='og:description' content=social_sharing_desc)

//- Favicon
link(rel='shortcut icon' href=favicon)
//- link(rel='apple-touch-icon' href=appleFavicon)

<!-- {CSS} -->

//- Swiper CSS
link(rel='stylesheet' href=slickCSS)
link(rel='stylesheet' href=slickThemeCSS)

//- FontAwesome
link(rel='stylesheet' href=fontAwesome)

//- CSS
link(rel='stylesheet' href=pathCSS + '?v=#{version}')