.module.m-portada-slider

	.container
		.slick-desktop
			- var fondo_cont = ''
			each slide, i in sliders
				if slide.fondo
					- fondo_cont = 'fondo'

				div(class="slick-desktop__item#{i}", style="background-image: url(#{slide.img})")
					.slick-desktop__content(class="#{fondo_cont}")
						h2 #{slide.title}

						if slide.btns.btn1.btn_txt != ''
							.slick-desktop__btn1
								a.btn.white.transparent.arrow(href="#{slide.btns.btn1.btn_link}") #{slide.btns.btn1.btn_txt}

						if slide.btns.btn2.btn_txt != ''
							.slick-desktop__btn2
								a.btn.white.transparent.arrow(href="#{slide.btns.btn2.btn_link}") #{slide.btns.btn2.btn_txt}

						if slide.txt != ''
							p #{slide.txt}

						if slide.oferta.imgO1 != ''
							.slick-desktop__imgOferta
								img(src="#{slide.oferta.imgO1}", alt="Oferta")
