.module.m-portada-ventajas

	.container.small
		h2 Tus ventajas EROSKI Club

		.ventajas
			.tarjeta.fixed
				img(src="#{img}/ventajas/tarjetaEroski.png")
			.flex-container
				.ventajas-registra.flex-item
					.ventajas-registra__txt
						p Registra tu
							br
							| tarjeta y tendrás
							br
							| más ventajas
					.ventajas-registra__btn
						a.btn.white-back.arrow(href="#") ¡Las Quiero!

				.ventajas-ventaja1.flex-item
					figure.content-and-image.icon1
					.ventajas-ventaja1__txt
						p Promociones
							br
							| exclusivas

				.ventajas-ventaja2.flex-item
					figure.content-and-image.icon2
					.ventajas-ventaja2__txt
						p Vales ahorro
							br
							| personalizados

				.ventajas-ventaja3.flex-item
					figure.content-and-image.icon3
					.ventajas-ventaja3__txt
						p La app con todas las
							br
							| ventajas en tu bolsillo

				.ventajas-ventaja4.flex-item
					figure.content-and-image.icon4
					.ventajas-ventaja4__txt
						p Te escuchamos:
							br
							| tu opinión cuenta

				.ventajas-ventaja5.flex-item
					figure.content-and-image.icon5
					.ventajas-ventaja1__txt
						p Y además, viajes y
							br
							| regalos...