.module.m-portada-cintillo.container

	.cintillo.flex-container
		.cintillo-descuento.flex-item
			img(src="#{img}/cintillo/50.png")
		.cintillo-texto.flex-item
			p de descuento en tus 3 primeras compras desde 100€
		.cintillo-btn.flex-item
			a.btn.transparent.arrow(href="#") Ahorra ya
