.module.m-portada-destacados

	.container.small
		.destacados.flex-container
			.destacados-destacado1.flex-item
				.destacados-destacado1__title
					p Alimentación saludable
				.destacados-destacado1__img
					img(src="#{img}/destacados/imagen-destacado1.png")
					.destacados-destacado1__logo
						img(src="#{img}/destacados/logo-ekilibria.png")
				.destacados-destacado1__desc
					p Si te gusta cuidarte
						br
						| ¡Apúntate a comer bien!
			.destacados-destacado2.flex-item
				.destacados-destacado2__title
					p Alimentos locales
				.destacados-destacado2__img
					img(src="#{img}/destacados/imagen-destacado2.png")
				.destacados-destacado2__desc
					p ¡Ya está aquí la anchoa del
						br
						| Cantábrico!
