// Estilos genéricos
html,
body {
	background: $color-light;
	@include responsive('max-phablet') {
		overflow-x: hidden;
	}
}
html{
	@include text('text');
}
body,
button,
input,
select,
textarea{
	font-family: $font-demi-eroski;
}
ol,
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
}
button{
	background: none;
	border: 0;
	padding: 0;
	&:focus{
		outline: 0;
	}
}
h1{
	font-size: 3em;

	@include responsive('max-desktop'){
		font-size: 2.5em;
	}

	@include responsive('max-phone'){
		font-size: 2.25em;
	}
}
*, ::before, ::after {
	@include box-sizing(border-box);
}

main {
	section {
		position: relative;

		&:last-child {
			z-index: 10000;
		}
	}
}

#ccoverlay {
	height: auto !important;
}