// Eroski | Bold
@include font-face(
  'eroski_bold',
  '/fonts/ITCAvantGardePro-Bold',
  normal,
  normal,
  otf eot svg woff woff2
);

// Eroski | Demi
@include font-face(
  'eroski_demi',
  '/fonts/ITCAvantGardePro-Demi',
  normal,
  normal,
  otf eot svg woff woff2
);

// Eroski | Demi
@include font-face(
  'eroski_book',
  '/fonts/ITCAvantGardePro-Bk',
  normal,
  normal,
  otf eot svg woff woff2
);

// Eroski | Demi
@include font-face(
  'eroski_medium',
  '/fonts/ITCAvantGardePro-Md',
  normal,
  normal,
  otf eot svg woff woff2
);