// Botón | Clase
.btn{
	background-color: $color-main;
	border: 0;
	display: inline-block;
	position: relative;
	text-align: left;
	transition: $transition-all;
	text-decoration: underline;
	font-family: $font-demi-eroski;
	font-size: 18px;

	&:hover{
		background-color: $color-main-light;
		color: $color-dark;
	}

	// Arrow y not arrow
	&.arrow,
	&.not-arrow{
		padding: .25em 0;
		min-width: 12em;
		text-transform: uppercase;
	}

	// Arrow
	&.arrow{
		&::after{
			content: '';
			display: inline-block;
			position: relative;
			margin-left: 17px;
			width: 0;
			height: 0;
			border-top: 7px solid transparent;
			border-left: 10px solid #fff;
			border-bottom: 7px solid transparent;
			-webkit-transition: $transition-all;
			-moz-transition: $transition-all;
			-ms-transition: $transition-all;
			-o-transition: $transition-all;
			transition: $transition-all;
		}

		&:hover {
			&::after {
				margin-left: 27px;
			}
		}
	}

	&.xl {
		padding: 1em 0.5em;
	}

	// Botón desabilitado
	&.disabled{
		background-color: $color-grey-light;
		color: $color-grey-dark;
		cursor: auto;
	}

	// Botón Gris
	&.grey{
		background-color: $color-grey;
		color: $color-dark;
		&:hover{
			background-color: $color-grey-light;
		}

		// Arrow
		/*&.arrow::after{
			border-color: $color-light;
		}*/
	}

	// Color | Negro
	&.black{
		$color: $color-light;
		background-color: $color-dark;
		color: $color;
		&:hover{
			background-color: $color-dark-light;
		}

		// Arrow
		&.arrow::after{
			border-color: $color;
		}
	}

	// Color | Blanco
	&.white{
		color: $color-light;
		&:hover{

		}
	}

	// Color | Blanco
	&.white-back{
		background: $color-light;
		&:hover{

		}

		// Arrow
		&.arrow::after{
			border-left: 10px solid #000;
		}
	}

	// Color | verde
	&.green{
		background-color: $color-green;
		color: $color-light;
		&:hover{
			background-color: $color-green-lighter;
		}
	}

	&.transparent {
		background: none;
	}

	// Color | Negro
	&.disabled{
		$color: $color-grey-dark;
		$bg: $color-grey-light;
		background-color: $bg;
		color: $color;
		cursor: default;
		&:hover{
			background-color: $bg;
		}

		// Arrow
		&.arrow::after{
			border-color: $color;
		}
	}

	&.disabled-black{
		background-color: $color-dark;
		color: $color-light;
		cursor: auto;
	}

	&.btn-slider-left {
		position: absolute;
		bottom: 5%;
		left: 5%;
		@include responsive('max-phablet') {
			min-width: 10em;
			bottom: 9%;
		}
	}

	&.btn-slider-right {
		position: absolute;
		bottom: 5%;
		right: 5%;
		@include responsive('max-phablet') {
			min-width: 10em;
			bottom: 9%;
		}
	}
}

div.btn {
	&.arrow.btn-slider-left,
	&.arrow.btn-slider-right {
		&::after {
			top: 1.3em;
			@include responsive('max-phablet') {
				right: .8em;
			}
		}
	}
}

// Botón | Etiqueta
button{

	// Tipo | Vídeo modal
	&.video-modal.player{
		position: relative;

		// Icono
		&::after{
			background: url('#{$img}/icon-play.svg') no-repeat center;
			background-size: 10%;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			transition: opacity $transition-style;
			top: 0;
			width: 100%;
		}

		// Not rollover
		&:not(:hover)::after{
			opacity: 0.75;
		}
	}
}

// Tipo | Vídeo modal
&.video-modal.player{
	position: relative;

	.imgcat {
		position: relative;
		cursor: pointer;

		// Icono
		&::after {
			background: url('#{$img}/icon-play.svg') no-repeat center;
			background-size: 20%;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			transition: opacity $transition-style;
			top: 0;
			width: 100%;
		}

		// Not rollover
		&:not(:hover)::after {
			opacity: 0.75;
		}
	}
}