// Iconos
figure{

	$icons: 'icon1', 'icon2', 'icon3', 'icon4', 'icon5';

	// Asignación de Iconos
	@each $icon in $icons{
		&.#{$icon} {
			&::after {
				background-image: url('#{$img}/ventajas/ventajas-#{$icon}.png#{$ver}');
			}
		}
	}
}