// Disposición general del menú
.header{
	.container {

		@include responsive('max-phablet') {
			display: block !important;
		}

		.menu {

			@include responsive('max-phablet') {
				display: block;
				width: 100% !important;
			}

			.menu-main {

				// Opciones de menú
				> * {
					border-color: transparent;
				}

				.menu-options {
					@include responsive('max-phone') {
						display: none;
					}

					> * {
						text-transform: uppercase;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						margin: 0 20px;

						a {
							font-family: $font-demi-eroski;
							font-size: 0.8rem;
						}

						img {
							@include responsive('max-phablet') {
								margin: 0 auto;
							}
						}
					}
				}

				.menu-options-slider {
					@include responsive('min-phone') {
						display: none;
					}

					> * {
						img {
							@include responsive('max-phablet') {
								margin: 0 auto;
							}
						}
					}

					.slick-prev,
					.slick-next {
						height: 100%;
						background: rgba(0,0,0,.5);
						z-index: 1;

						&::before {
							content: '';
							width: 10px;
							height: 10px;
							border-top: 1px solid #fff;
							border-left: 1px solid #fff;
							position: absolute;
							top: 50%;
							margin-top: -5px;
							background: none;
						}
					}
					.slick-prev {
						left: 0;

						&::before {
							left: 50%;
							margin-left: -5px;
							-webkit-transform: rotate(-45deg);
							-moz-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							transform: rotate(-45deg);
						}
					}
					.slick-next {
						right: 0;

						&::before {
							right: 50%;
							margin-right: -5px;
							-webkit-transform: rotate(135deg);
							-moz-transform: rotate(135deg);
							-ms-transform: rotate(135deg);
							-o-transform: rotate(135deg);
							transform: rotate(135deg);
						}
					}
				}
			}
		}
	}
}