// Tamaño de sliders (para tipo 'cover')
.swiper-mobile{
	display: none;

	// Muy grande
	&.slider-xl{
		height: 45rem;
	}

	// Grande
	&.slider-lg{
		height: 40rem;
	}

	// Mediano Grande
	&.slider-ml{
		height: 35rem;
	}

	// Mediano
	&.slider-md{
		height: 30rem;
	}

	// Pequeño
	&.slider-sm{
		height: 20rem;
	}

	// Litle
	&.slider-sl {
		height: 15rem;
	}

	@include responsive('max-phablet') {
		/*height: 20rem !important;*/
		display: block;
	}

	/*> div {
		height: 100%;
	}*/
}
.swiper-slide{

	// Muy grande
	.slider-xl &{
		height: 45rem;
	}

	// Grande
	.slider-lg &{
		height: 40rem;
	}

	// Mediano Grande
	.slider-ml &{
		height: 35rem;
	}

	// Mediano
	.slider-md &{
		height: 30rem;
	}

	// Pequeño
	.slider-sm &{
		height: 20rem;
	}

	// Litle
	.slider-sl & {
		height: 15rem;
	}

	@include responsive('max-phablet') {
		height: 20rem !important;
	}
}

// Ajustes de sliders
.swiper-container{
	img {
		width: 100%;
	}

	// Slider | Doble
	&.double-slider, &.double2-slider{
		html.home &, html.fundacion &, html.premios & {
			padding-bottom: $gap-slider;
		}

		@include responsive('max-tablet') {
			padding-bottom: 84px;
		}

		@include responsive('max-phablet') {
			padding-bottom: 121px;
			&:not(html.premios &) {
				padding-bottom: 121px;
			}
		}
		@include responsive('max-miniphone') {
			padding-bottom: 45px;
		}

		// Reposicionamiento de botones de navegación
		.swiper-button-next,
		.swiper-button-prev{
			top: 45%;
		}
	}

	&.swiper-nomobile {
		display: none;
		@include responsive('min-phablet') {
			display: block;
		}
	}

	&.swiper-mobile {
		display: block;
		@include responsive('min-phablet') {
			display: none;
		}
	}
}