html.home {
	.double-slider {
		.swiper-wrapper {
			> * {
				video {
					display: none;
					opacity: 0;
					position: relative;
					z-index: 1000;
					background: rgba(0,0,0,.8);
				}
				.close-video {
					position: absolute;
					z-index: 10000;
					top: 10px;
					right: 10px;
					font-family: $font-demi-eroski, Arial, Helvetica, sans-serif;
					color: $color-light;
					text-shadow: 1px 1px 7px rgba(0,0,0,1);
					cursor: pointer;
					font-size: 1.1em;
					display: none;
				}
				.play-video {
					position: absolute;
					z-index: 1000;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					cursor: pointer;
				}
			}

			.video-modal.player {
				position: relative;

				// Icono
				&::after {
					background: url('#{$img}/icon-play.svg') no-repeat center;
					background-size: 10%;
					content: '';
					height: 100%;
					left: 0;
					position: absolute;
					transition: opacity $transition-style;
					top: 0;
					width: 100%;
					cursor: pointer;
				}

				// Not rollover
				&:not(:hover)::after {
					opacity: 0.75;
				}
			}
		}
	}
}

// Swiper | Botones 'anterior' y 'siguiente'
.swiper-button-next,
.swiper-button-prev{
	$size: 3rem;
	height: $size;
	width: $size;
	background-size: $size;
	transition: $transition-opacity;
	&:not(:hover){
		opacity: 0.8;
	}
}

// Posicionamiento de botones 'anterior' y 'siguiente'
$swiper-button-margin: 2%;

// Swiper | Botón 'anterior'
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next{
	background-image: url('#{$img}/slider-button-prev.png');
	left: $swiper-button-margin;
}

// Swiper | Botón 'siguiente'
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev{
	background-image: url('#{$img}/slider-button-next.png');
	right: $swiper-button-margin;
}

// Swiper | Botón 'anterior' o 'siguiente' desabilitado
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
	opacity: 0.25;
}

// Swiper | Paginación | Botón
.swiper-pagination-bullet{
	$size: 0.75rem;
	// border: 2px solid $color-light;
	height: $size;
	width: $size;
}

// Swiper | Paginación | Botón activo
.swiper-pagination-bullet-active{
	background: $color-main;
}

// Swiper | Slides personalizados
.swiper-mobile{

	.no-cover {
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	// Slide | Tipo 'cover'
	.cover{
		background-position: center;
		background-size: cover;
	}

	.cover-center{
		background-position: center;
		background-size: cover;
	}

	.cover-top-center {
		background-position: top center;
		background-size: cover;

		@include responsive('max-phablet') {
			background-position: bottom center;
			background-size: 100%;
			background-repeat: no-repeat;
		}
	}

	.cover-right{
		background-position: right;
		background-size: cover;
	}

	.cover-left{
		background-position: left;
		background-size: cover;
	}
}
.swiper-slide{

	&.no-cover {
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	// Slide | Tipo 'cover'
	&.cover{
		background-position: center;
		background-size: cover;
	}

	&.cover-center{
		background-position: center;
		background-size: cover;
	}

	&.cover-top-center {
		background-position: top center;
		background-size: cover;
	}

	&.cover-right{
		background-position: right;
		background-size: cover;
	}

	&.cover-left{
		background-position: left;
		background-size: cover;
	}
}